@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap');

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero--info {
        width: 100%;
    }

    .hobbytype1,
    .hobbytype2 {
        flex-direction: column;
        gap: 30px;
        text-align: center;
        align-items: center;
    }

    img.Homepage {
        width: 100%;
    }

    .hobbytype1--info {
        width: 100%;
    }
    .aboutproject {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .aboutproject img,
    .me {
        width: 100%;
    }
    header nav ul {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    header {
        flex-direction: column;
        gap: 30px;
    }

    .hero--info p {
        padding-top: 30px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:#ffffff;
    font-size: 16px;
    background-color: #000000;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    margin: 5%;
    transition: all 350ms ease;
}

img:hover{
    transform: scale(1.03);
    box-shadow: 0 0 50px rgba(158, 198, 255, 0.25);
}

.wrapper{
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(10, 0, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
}

.container{
    width: 90%;
    margin: 0 auto;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
    padding-left: 5%;
}
header nav{
    width: auto;
    float: none;
    width:60%; 
    margin: 20px auto;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li{
    display: inline-block;
}
 
header nav ul li a{
    margin-right: -1%;
    margin-left: -1%;
    color: #fff;
}

header nav ul li.active::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #0000CD;
    border-radius: 10px;
    position: relative;
    top: 8px;
    left:-15px;
}

header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #0000ee;
}

header nav ul li.btn a{
    background: #0000CD;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover{
    background: blue;
}

.hero{ 
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero--info{
    padding-bottom: 100px;
    width: 45%;
    padding-top: 70px;

}

.hero--info h2{
    color: #0000CD;
    font-size: 30px;
    font-weight: 600;
    line-height: 170%;
    padding-top: 100px; 
    width: 100%;
    max-width: 450px;
    margin: auto;
}

.hero--info h1{
    font-size: clamp(40px, 6vw, 50px);
    font-weight: 800;
    line-height: 170%;
    padding-top: 100px; 
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.hero--info p{
    font-weight: 600;
    line-height: 170%;
    padding-top: 100px; 
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.hero img{
    position: static;
    width: 60%;
    margin: 40px auto 0;
    display: block;
    right: 8%;
    border-radius: 50px;
    transition: all 1500ms ease;
}

.hero img:hover{
    cursor: pointer;
    border-radius: 230px;
    transform: scale(1.32);
}
 
/* Section with hobbies*/
.home{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hobbytype1{
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
}

.hobbytype1--info{
    width: 52%;
    margin:auto 0;
    position: relative;
}

.hobbytype1--info h3{
    font-weight: 800;
    font-size: 50px;
    width: 100%;
}
 
.hobbytype1--info p{
    width: 80%;
    font-weight: 500;
}

.hobbytype1--info p.hobbybtn a{
    color: #ffffff;
}

.hobbytype1--info p.hobbybtn{
    background-color: #0000CD;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 500ms ease;
    display: inline-block;
    width: auto;
    padding: 12px 30px;
}

.hobbytype1--info p.hobbybtn:hover{
    background-color: rgb(83, 123, 255);
}


img.Homepage{
    width: 50%;
    border-radius: 50px;
    position: relative;
}

.hobbytype2{
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
 /* about degen zher */
.about{
    padding: 50px 0;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(10, 0, 255, 1) 100%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.aboutproject{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.Port{
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.Port h1{
    font-size: 40px;
}

.Port p{
    font-size: 20px;
}

.aboutproject h3{
    font-weight: 600;
    color: #0000ee;
    font-size: 20px;
}

.aboutproject p{
    font-weight: 500;
    font-size: 12px;
}

.aboutproject img, .me{
    width:35%;
    border-radius: 5%;
}
.aboutproject .me{
    width:65%;
}
/*Contact*/
div.contact{
    background-color: aqua;
    width: 100%;
    margin: 0 auto;
}

div.contacts{
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
div.contacts ul{
    list-style: none;
}
div.contacts h3{
    font-size: 40px;
}
/*feedback*/
.feedback{
    padding: 70px 0;
    background: #00001f;
    width: 102%;
    margin-right: -1%;
    margin-left: -1%;
}
.feedback h2{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}
.feedback p{
    text-align: center;
    margin-top: 10px;
}
.feedback form{
    margin: 80px auto;
    width: 60%;
}
.feedback form .inline{
    display: flex;
    justify-content: space-between;

}
.feedback form .inline > div{
    width: 50%;
}
.feedback form label{
    color: #4f4f4f;
    font-size: 14px;
}
.feedback form input,
.feedback form textarea{
    background-color: #22202c;
    opacity: 70%;
    border-radius: 7px;
    border: 0.6px solid #cecece;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color:#fff;
    margin-top: 7px;
    margin-bottom: 23px;
}
.feedback form .one-line{
    width: 96%;

}
.feedback form textarea{
    resize: none;
    height: 200px;
}
.feedback form button{
    background: #0000CD;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    color: #fff;
    padding: 15px 35px;
    transition: all 500ms ease;
 }
 .feedback form button:hover{
    background: #0000ff;
 }
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
