* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #050b18;
    color: #e6f0ff;
}

header {
    background-color: #020617;
    border-bottom: 4px solid #2563eb;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: #60a5fa;
    letter-spacing: 2px;
    font-weight: 800;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #e6f0ff;
    text-decoration: none;
    margin: 0 10px;
    padding: 6px 12px;
    border: 2px solid #2563eb;
}

nav a:hover {
    background-color: #2563eb;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #020617;
    border: 4px solid #1e3a8a;
}

.lesson {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #020617;
    border-left: 6px solid #3b82f6;
}

h2 {
    color: #93c5fd;
}

h3 {
    color: #60a5fa;
}

a.task-link {
    display: inline-block;
    margin-top: 10px;
    color: #38bdf8;
}

.task {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #020617;
    border: 3px dashed #2563eb;
}

footer {
    text-align: center;
    padding: 15px;
    color: #94a3b8;
}
img{
    width: 50%;
}
